.playTrailer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: 0 0;
  border: none;
  border-radius: 50%;
  box-shadow: none; 
  transition: all .2s;
  opacity: 0;
  img{
    width: 100%;
    display: block;
  }
}

.btnViewMore{
  @include styleBtn($color-trans,$color-gray-4,$pd-0 + 2,$pd-4,$border-radius);
  @include styleText($color-gray-4,$fs-0,$fw-normal);
  text-align: center;
  transition: all .2s;
  margin-top: 35px;
  margin-bottom: 20px;
  &:hover{
    background-color:$color-red-0;
    border-color: $color-red-0;
    color: $color-white-0;
  }
  &:focus{
    outline: 0;
  }
}
.movie-Startime{
  display: block;
  text-align: center;
  @include styleText($color-gray-3,$fs-0,$fw-bold-0);
  @include styleBtn ($color-gray-6,$color-gray-7,$pd-0,0,$border-radius + 3);
  transition: all .2s;
  &:hover{
    @include styleText($color-gray-3,$fs-0,$fw-bold-0);
  }
}
.ageRed{
  @include styleBtn($color-red-0,$color-red-0,$pd-0 - 3,$pd-0,$border-radius);
  @include styleText($color-white-0,$fs-1,$fw-bold-0);
  min-width: 33px;
  text-align: center;
}
.ageGreen{
  @include styleBtn($color-age-green,$color-age-green,$pd-0 - 3,$pd-0,$border-radius);
  @include styleText($color-white-0,$fs-1,$fw-bold-0);
  min-width: 33px;
  text-align: center;
}

.redBuyButton{
  @include styleText($color-white-0,$fs-5,$fw-bold-0);
  @include styleBtn($color-trans,$color-trans,$pd-1,$pd-1,$border-radius);
  background: linear-gradient(to left,#fb4226,#ce3017 100%);
  padding: 10px;
  text-transform: uppercase;
  border: none;
  border-radius: $border-radius;
}
.darkBuyButon{
  @include styleBtn($color-gray-5,$color-gray-5,$pd-1,$pd-3,$border-radius);
  @include styleText($color-white-0,$fs-0,$fw-normal);
  text-transform: uppercase;
  border: none;
}
.avgPoint{
  @include styleText($color-white-0,$fs-4,$fw-bold-0);
  background-color: rgba(12,27,54,.8);
  @include styleBtn($color-dark-1,$color-dark-2,2px,2px,$border-radius);
  position: absolute;
  top: 12px;
  right: 12px;
  width: 54px;
  text-align: center;
  line-height: 1.1;
}
.appButton{
  @include styleBtn($color-red-0,$color-red-0,$pd-1,$pd-3,$border-radius);
  @include styleText($color-white-0,$fs-4,$fw-bold-1);
  border: none;
}