@mixin styleText($color,$fs,$fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}
@mixin styleBtn($bg-color,$border,$pd-y,$pd-x,$radius) {
  background-color: $bg-color ;
  border: 1px solid $border;
  padding: $pd-y $pd-x;
  border-radius: $radius;
}
@mixin styleHoverBtn($color,$border,$bg-color) {
  color: $color;
  border-color: $border;
  background-color: $bg-color;
}




@mixin responsive($screen) {
  @if(map-has-key($map:$breakpoints,$key:$screen)){
    $value: map-get($map:$breakpoints,$key:$screen);
    @media screen and (max-width:$value){
      @content;
    }
  }@else{
    @warn 'NotFound';
  }
}